body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form {
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
	border-width: 2px;
	background-color: #bbb;
}
